.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Lớp nền */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/background_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    z-index: 0;
}

/* Lớp nội dung */
.content {
    width: 30%;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;


    padding-right: 24px;
    padding-bottom: 32px;
    border-radius: 10px;
    border-top: 1px solid rgba(17, 17, 141, 0.2);
    border-bottom: 1px solid rgba(17, 17, 141, 0.2);
    border-left: 1px solid rgba(17, 17, 141, 0.2);
    border-right: 1px solid rgba(17, 17, 141, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(8px);

    h1 {
        color: rgb(255, 255, 255);
        padding-bottom: 24px;
    }
}

.input-wrapper {

    width: 100%;

    label {
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
    }


    input {
        width: 100%;
        height: 32px;
        border: none;
        border-bottom: 2px solid #000000;
        background: transparent;
        outline: none;
        transition: border-color 0.3s ease, transform 0.2s ease;
        padding: 4px 4px;
        margin: 12px 12px;
        margin-bottom: 10px;


        &:focus {
            border-bottom-color: #4CAF50;
            transform: translateY(2px);
        }
    }
}

.button-submit {
    margin-left: 12px;
    width: 100%;
    padding: 12px 160px;
    margin-top: 16px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(135deg, #4CAF50, #66BB6A);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    &:hover {
        background: linear-gradient(135deg, #45a049, #5DBA5C);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    }
}


.create-account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    width: 100%;
    margin-top: 12px;
    margin-left: 12px;

    a {
        text-decoration: none;
        color: black;
    }

    span {
        color: red;
    }

    cursor: pointer;
    margin-top: 12px;
}

.not-is-pass-word {
    border-bottom: 2px solid #e70000 !important;
}