.wrapper {
    margin: 24px 24px;
    user-select: none;
}

.logo-wrapper {


    font-size: 30px;
    font-weight: 600;

    .icon {
        color: green;
    }

    span {
        margin-left: 12px;
    }

    div {
        font-size: 16px;
        font-weight: 100;
        color: green;
        margin-top: 6px;
    }

    h4 {
        margin-top: 40px;
    }

}

.total-wrapper {
    padding: 24px 24px;
    border-radius: 12px;
    margin-top: 20px;
    background-color: white;
    min-height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .tieu-de {
        h5 {
            font-weight: 200;
            color: green;
        }
    }

    .so-tien {

        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        h3 {
            font-size: 30px;
            font-weight: 600;
            color: rgb(117, 107, 106);

            >span:nth-child(1) {
                color: rgb(235, 46, 46);
            }

            >span:nth-child(2) {
                color: rgb(8, 194, 18);
            }
        }

        h4 {

            margin-top: 20px;
            font-size: 20px;

            .nho {
                color: red;
            }

            .lon {
                color: rgb(8, 194, 18);
            }

        }
    }
}


.bieu-do {

    margin-top: 20px;

}

.danh-muc-wrapper {

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .card-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        .card {
            background-color: #fff;
            flex: 1;
            height: 180px;
            border-radius: 12px;
            padding: 16px;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);

            >div:nth-child(2) {

                font-weight: 600;
                margin-top: 12px;
                margin-bottom: 12px;

                span {
                    color: green;
                }
            }

        }
    }
}

.icon-danh-muc-1 {
    font-size: 30px;
    padding: 20px 20px;
    border-radius: 50%;
    background-color: #6be8ec;
}

.icon-danh-muc-2 {
    font-size: 30px;
    padding: 20px 20px;
    border-radius: 50%;
    background-color: #f5ff9f;
}

.icon-danh-muc-3 {
    font-size: 30px;
    padding: 20px 20px;
    border-radius: 50%;
    background-color: #8fe293;
}

.icon-danh-muc-4 {
    font-size: 30px;
    padding: 20px 20px;
    border-radius: 50%;
    background-color: #f6c8fc;
}

.ten-danh-muc {
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.logo-danh-muc {
    display: flex;
    align-items: center;
    gap: 12px;
}

.bieu-do-wrapper {
    padding: 12px 12px;
    border-radius: 12px;
    margin-top: 20px;
    background-color: white;

    h1 {
        margin: 12px;

        span {
            margin-right: 12px;
        }
    }
}