.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}


.logo-wrapper {
    display: flex;
    width: 100%;
    font-size: 30px;
    margin: 24px 24px;
    font-family: 'Times New Roman', Times, serif;

    .logo {
        color: green;
    }

    span {
        font-weight: 600;
        user-select: none;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

.profile-wrapper {
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 100%;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;

    .icon {
        font-size: 40px;
    }

    span {
        font-weight: 600;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .profile {
        div {
            color: green;
            font-size: 12px;
            margin-top: 4px;
        }
    }

    .login {

        background-color: white;
        width: 160px;
        height: 46px;
        padding: 12px 12px;
        border-radius: 12px;
        box-shadow: 0 0 8px black;

        position: fixed;
        top: 24%;
        left: 12px;
        z-index: 999;
        animation: popupShow 0.35s ease forwards;

        .icon-login {
            color: red;
            margin-left: 12px;
        }
    }

}

.select-wrapper {
    display: block;
    width: 100%;
    background-color: white;

    a {
        text-decoration: none;
        display: block;
    }

    button {
        cursor: pointer;
        width: 100%;
        background-color: white;
        border: none;
        box-sizing: border-box;
        padding: 30px 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: none;
        border-bottom: 1px solid rgb(255, 255, 255);

        span {
            font-size: 16px;
            margin-left: 12px;

            &:hover {
                color: rgba(0, 128, 0, 1);
                border-bottom: 2px solid rgba(0, 128, 0, 1);
                transition: border-bottom-color 0.3s ease, color 0.3s ease;
                background-color: transparent !important;
            }

            &.active {
                color: rgba(0, 128, 0, 1);
                border-bottom: 2px solid rgba(0, 128, 0, 1);
                background-color: transparent !important;
            }
        }

        .icon {
            font-size: 16px;
            margin-left: 12px;
        }
    }
}


@keyframes fadeGreen {
    from {
        background-color: rgba(0, 128, 0, 0.2);
    }

    to {
        background-color: rgba(0, 128, 0, 1);
    }
}


@keyframes popupShow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}