.wrapper {
    padding: 24px 24px;
    display: flex;
    flex-direction: column;

}

.logo-wrapper {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

    .icon {
        color: forestgreen;
    }

    span {
        font-weight: 600;
        margin-left: 12px;
    }

    div {
        margin-top: 10px;
        font-size: 16px;
        color: green;
    }

}

.input-wrapper {

    background-color: white;
    margin-top: 40px;
    border-radius: 10px;

    .input-submit {
        display: flex;
        padding: 12px 12px;
        flex-direction: column;
        gap: 12px;
        margin: 12px 12px;

        >div {
            display: flex;
            justify-content: start;
            gap: 16%;

            button {
                margin-top: 12px;
                width: 100%;
                padding: 0px 30px;
                height: 36px;
                border: none;
                outline: none;

                background-color: greenyellow;
                color: black;

                border-radius: 8px;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.25s ease;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: rgb(120, 231, 120);
                    color: white;
                    transform: translateY(-1px);
                }

                &:active {
                    transform: translateY(0);
                    box-shadow: none;
                }
            }

            label {
                font-weight: 600;
                font-size: 16px;
            }

            input {
                padding: 12px 12px;
                width: 100%;
                height: 30px;
                border-radius: 10px;

            }
        }
    }

}

.table-wrapper {
    margin-top: 40px;
    min-height: 300px;
    max-height: 300px;
    border-radius: 12px;
    background-color: white;
}

.total-day-and-money {
    margin-top: 10px;
    padding: 12px 12px;
    background-color: greenyellow;
    border-radius: 12px;

    >div {
        display: flex;
        justify-content: space-between;

        span {
            font-weight: 600;
        }

        >span:nth-child(1) {
            >span {
                color: green;
            }
        }

        >span:nth-child(2) {
            >span {
                color: rgb(241, 7, 7);
            }
        }
    }
}