* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}


.wrapper {
    display: flex;
    width: 100vw;
    height: auto;
}

.side-bar {
    flex: 1.5 1 40px;
}

.content {
    flex: 8;
    background-color: rgb(235, 235, 235);
    height: auto;
}