* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.side-bar {
    flex: 1.5
}

.content {
    flex: 8;
    background-color: rgb(235, 235, 235);
}