table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

td,
th {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}


thead {
    background-color: #ffffff;
    color: rgb(39, 199, 74);

    th {
        padding: 8px 0;
        border-bottom: 1px solid #ddd;
    }

    th:nth-child(1) {
        padding: 12px 24px;
        width: 20%;
    }

    th:nth-child(2) {
        padding: 12px 24px;
        width: 20%;
    }

    th:nth-child(3) {
        padding: 12px 0px;
        width: 20%;
    }

    th:nth-child(4) {
        text-align: center;
        padding: 12px 0px;
        width: 20%;
    }

    th:nth-child(5) {
        padding: 12px 0px;
        width: 20%;
    }
}

tbody {

    tr {
        border-bottom: 1px solid #ddd;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #f2f2f2;
        }

        td {
            padding: 12px;
            text-align: center;
            font-weight: 600;
        }

        td:nth-child(3) {
            span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 30px;
                font-size: 12px;
                border-radius: 10px;
               

                &.green {
                    background-color: greenyellow;
                }

                &.yellow {
                    background-color: rgb(255, 251, 12);
                }

                &.blue {
                    background-color: rgb(134, 200, 238);
                }

                &.purple {
                    background-color: rgb(207, 163, 207);
                }
            }
        }

        td:nth-child(2) {
            text-align: center;
        }

        td:nth-child(4) {
            text-align: center;
            color: red;
        }

        td:nth-child(5) {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

    }
}

.table-container {
    border-radius: 16px;
    max-height: 348px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}