.wrapper {
    position: fixed;
    top: 20px;
    left: 50%;

    min-width: 400px;
    min-height: 160px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 8px black;
    animation: slideDownUp 3s ease-in-out forwards;
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding: 12px 12px;
    font-weight: 600;

    .icon {

        color: red;

        &.green {
            color: rgb(96, 158, 4);
        }

    }
}

.thong-bao-wrapper {

    padding: 12px 12px;
    width: 100%;

    .thong-bao-text {
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
            text-align: center;
        }
    }
}

@keyframes slideDownUp {
    0% {
        opacity: 0;
        transform: translate(-50%, -40px);
    }

    15% {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    85% {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 40px);
    }
}