
//reset
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-gutter: stable;

    //var global
    --height-header: 80px;
    --default-layout-header-width:100%;
    --default-layout-header-height: calc(var(--height-header) - 22px);
}

// ::-webkit-scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,0.15);

}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0,0,0,0);

}

